/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%
*/

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

*::-moz-selection{
  font-family: "Gilroy", sans-serif;
  background-color: transparent;
  color: #FBD784;
}


*::selection {
  font-family: "Gilroy", sans-serif;
  background-color: transparent;
  color: #FBD784;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: rgba(3, 18, 26, 0.8);
}

p {
  line-height: 32px;
}

h1 {
  font-family: "Chronicle Display", serif;
  font-size: 78px;
  margin: 40px 0 50px;
  text-transform: capitalize;
}

h2 {
  font-family: "Chronicle Display", serif;
  font-size: 64px;
  font-weight: 500;
  margin: 35px 0;
}

h4 {
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.content-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 25px;
}

.site-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 28px 28px 80px 0 rgba(11, 29, 38, 0.4);
  background-color: #0B1D26;
}

.main-content {
  z-index: 101;
  flex: 1 1 100%;
  padding-top: 40px;
  transform-style: preserve-3d;
}

.main-header {
  position: relative;
  width: 100%;
  max-height: 1050px;
  height: 120vh;
  overflow: hidden;
  display: flex;
  background-color: #0B1D26;
}


.main-header::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 350px;
  background: linear-gradient(to top, #0B1D26, #0B1D26 4%, rgba(11, 29, 38, 0.9) 27%, rgba(11, 29, 38, 0.8) 39%, transparent);
  z-index: 103;
}

.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(184deg, rgba(11, 29, 38, 0.6), rgba(11, 29, 38, 0.3) 34%, rgba(11, 29, 38, 0.2), transparent);
  z-index: 100;
}

.main-header > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  pointer-events: none;
}

img.hg {
  top: 0px;
}

img.mg {
  top: 400px;
}

img.vg {
  top: 600px;
  z-index: 102;
}

.site-logo {
  width: 114px;
  height: 24px;
  transition: all 200ms ease;
}

.site-logo:hover {
  opacity: 0.8;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

.header-menu ul {
  display: flex;
}

.header-menu > ul > li > a,
.account-menu a {
  display: block;
  padding: 10px 14px;
  margin: 0 10px;
  transition: all 200ms ease;
}

.header-menu > ul > li:last-of-type a {
  margin-right: 0;
}

.header-menu > ul > li > a:hover {
  transform: translate(0px, -2px);
  color: #fbd784;
}

.header-menu a,
.account-menu a {
  color: #FFFFFF;
}

.account-menu a {
  display: flex;
  margin: 0;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.account-menu a:active,
.account-menu a:hover {
  color: #fbd784;
}

.acc-link a {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.acc-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.navbar-header {
  display: flex;
  margin: 0 80px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pre-title {
  display: block;
  position: relative;
  margin-left: 85px;
  font-size: 16px;
  color: #FBD784;

  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 7px;
  line-height: 20px;
}

.pre-title::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1.5px);
  left: -85px;
  background-color: #FBD784;
  width: 72px;
  height: 2px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 810px;
  margin: 0 auto;
  margin-top: 150px;
  z-index: 90;
}

.header-info h1 {
  font-weight: 400;
  color: #ffffff;
}

.button {
  margin: 0;
  cursor: pointer;
  transition: all 200ms ease;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}

.button:focus {
  outline:0;
}

.btn-header {
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  padding: 20px;
  margin-right: 15px;
}

.btn-header:hover {
  color: #FBD784;
}

.header-info a{
  text-decoration: none;
}

.btn-icon {
  position: absolute;
  right: -10px;
  width: 16px;
  height: 24px;
}

.btn-header:hover .btn-icon {
  animation: bumping 0.7s;
  animation-iteration-count: 5;
  animation-delay: 0.5s;
}

@keyframes bumping {
  from {top: 5px;}
  to {top: 25px;}
}

/* .bg-get-st {
  background-image: url('img/bg.png');
  background-size: 100%;
  background-position: 50% -1024px;
  background-repeat: no-repeat;
  background-color: #0B1D26;
} */

#get-started {
  position: absolute;
  margin-top: -100px;
}

.get-started {
  min-height: 500px;
}

.main-content .main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.main-block .sct-image img {
  width: 480px;
  height: auto;
}

.main-info {
  flex: 0 1 42.5%;
  position: relative;
  margin: 0 auto;
}

.btn-main {
  color: #FBD784;
  padding: 15px 20px 15px 0;
}

.btn-main::after {
  content: "";
  display: inline-block;
  margin-left: 17px;
  margin-bottom: -3.6px;
  width: 24px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 -6.99382e-07L14.59 1.41L20.17 7L-3.93402e-07 7L-3.0598e-07 9L20.17 9L14.58 14.58L16 16L24 8L16 -6.99382e-07Z' fill='%23FBD784'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.btn-main:hover {
  transform: translate(8px, 0);
}

.hiking-essentials .main-info::before,
.get-started .main-info::before,
.where-to-go .main-info::before{
  position: absolute;
  font-size: 240px;
  font-weight: 700;
  top: -125px;
  left: -150px;
  opacity: 0.1;
}

.get-started .main-info::before {
  content: "01";
}

.hiking-essentials .main-info::before {
  content: "02";
}

.where-to-go .main-info::before {
  content: "03";
}

.hiking-essentials .sct-image {
  order: -1;
}

.main-content .where-to-go {
  margin-bottom: 100px;
}

.main-footer {
  padding-top: 100px;
  padding-bottom: 120px;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu > ul > li > a {
  display: inline-block;
  padding: 8px 0;
  margin-bottom: 8px;
  color: #ffffff;
  text-decoration: none;
}

.footer-menu a {
  transition: all 200ms ease;
}

.footer-menu a:hover {
  color: #FBD784;
}

.footer-copyright {
  opacity: 0.5;
}

p.footer-slogan {
  max-width: 300px;
  flex: 1;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-block .site-logo {
  flex-basis: 50px;
}

.footer-block-1 {
  flex-shrink: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-block-2 {
  display: flex;
  flex: 0 1 480px;
  justify-content: space-between;
}

.footer-menu h4.menu-label {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FBD784;
}

/* pre-loader */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0B1D26;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* mediaqueries for mobile & tablet */

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media screen and (max-width: 1200px) and (min-width: 993px) {

  h2 {
    font-size: 52px;
  }

 .content-wrapper {
    max-width: 1160px;
  }

  .main-info {
    margin-left: 55px;
  }

  .main-block .sct-image img {
    width: 470px;
  }

  .footer-block-2 {
    flex-basis: 470px;
  }

  .main-header {
    max-height: 900px;
  }

}

/* Большие девайсы (десктопы, >= 992px) */
@media (max-width: 992px) {
.main-content .main-block{
  flex-wrap: wrap;
  justify-content: center;
}

.main-header {
  max-height: 900px;
}

.header-info {
  max-width: 100%;
  margin: 100px 80px 0 90px;
}

.btn-header {
  font-size: 21px;
}

.footer-block-1 {
  font-size: 0.9em;
}

.main-info {
  flex: 0 1 70%;
  margin: 0;
  margin-top: 80px;
}

.sct-image {
  flex: 0 1 70%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
}
.sct-image img {
  flex-shrink: 0;
   min-width: 100%;
   min-height: 100%;
}

.header-info a {
  align-self: flex-end;
}

.get-started > .sct-image img {
  align-self: flex-end;
}

img.mg {
  top: 450px;
}

img.vg {
  top: 530px;
  left: -20%;
  width: 130%;
}

.main-header > img.hg {
  width: auto;
  height: 130%;
}
}

/* Средние девайсы («таблетки», >= 768px) */
@media (max-width: 768px) {
  .header-info {
    align-items: flex-end;
  }

  .main-header {
    height: 120vh;
    max-height: 1024px;
  }
  .navbar-header,
  .header-info {
    margin: 0 30px;
  }
  .header-info {
    margin-top: 120px;
  }
  .header-info h1 {
    font-size: 55px;
  }

  .main-header nav > ul > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img.vg {
    top: 600px;
    width: 205%;
    left: -20%;
  }
  img.mg {
    width: 125%;
    left: -5%;
    top: 490px;
  }
  .main-info,
  .sct-image {
    flex-basis: 80%;
  }

  .site-logo {
    flex-basis: 25%;
  }

  .account-menu {
    margin-left: auto;
  }

}

@media screen and (max-width: 520px) {

  h2 {
    font-size: 44px;
  }

  .header-info h1 {
      margin: 30px 0;
      font-size: 42px;
      line-height: 67px;
  }

  .main-footer {
    flex-wrap: wrap;
  }

  .navbar-header,
  .header-info {
    margin: 0 15px;
  }

  .header-info {
    margin-top: 40px;
  }

  .header-menu {
    margin-top: 20px;
    flex: 1 1 100%;
  }

  .header-menu ul {
    justify-content: flex-end;
  }

  .main-header nav > ul > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .pre-title {
    font-size: 13px;
  }

  .pre-title::before {
    left: -65px;
    top: calc(50% - 1.125px);
    width: 52px;
    height: 1.5px;
  }
  .btn-header {
      font-size: 19px;
  }

  .main-header {
      height: 110vh;
      max-height: 780px;
  }

  .main-header::before {
    height: 150px;
  }

  img.vg {
      top: 450px;
      width: 215%;
      left: -49%;
  }

  img.mg {
      width: 235%;
      left: -45%;
      top: 340px;
  }

  .btn-header:hover {
    color: white;
  }

  .main-info, .sct-image {
    flex-basis: 100%;
  }

  .hiking-essentials .main-info::before,
  .get-started .main-info::before,
  .where-to-go .main-info::before {
    font-size: 200px;
    top: -115px;
    left: -40px;
  }

  .main-footer {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .footer-block-1 {
    order: 1;
    flex: 1;
  }

  .footer-block-2 {
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .footer-menu-1 {
    flex-basis: 55%;
  }

  .footer-menu-2 {
    flex-basis: 35%;
  }

}

@media screen and (max-width: 320px) {

  body {
    min-width: 320px;
  }

  h1 {
    font-size: 40px;
  }
  .header-info h1 {
    margin: 24px 0;
    font-size: 40px;
    line-height: 53px;
  }

  .main-header > img.hg {
    height: 130%;
  }

  .hiking-essentials .sct-image {
    justify-content: flex-start;
  }

  .pre-title {
    font-size: 12px;
  }

}
